In [1]:
import model_utils as mu
mu.DEATH_RATE = 0.36
mu.ICU_RATE = 0.78
mu.HOSPITAL_RATE = 2.18
mu.SYMPTOM_RATE = 10.2
mu.INFECT_2_HOSPITAL_TIME = 11
mu.HOSPITAL_2_ICU_TIME = 4
mu.ICU_2_DEATH_TIME = 4
mu.ICU_2_RECOVER_TIME = 7
mu.NOT_ICU_DISCHARGE_TIME = 5

In [61]:
import pandas

In [65]:
max(3,7,1,10
   )

10

In [62]:
pandas.__version__

'1.0.1'

In [ ]:
log_pre, mb = mu.get_log_daily_predicted_death_by_country('Singapore', lockdown_date='20200415')

In [ ]:
daily_metrics, cum_metrics, model_beta = mu.get_metrics_by_country('US', lockdown_date='20200317')

In [ ]:
daily_metrics.plot()

In [ ]:
import plotly.offline as py_offline
import cufflinks as cf
cf.go_offline()
py_offline.__PLOTLY_OFFLINE_INITIALIZED = True

In [ ]:
daily_metrics.iplot()

In [5]:
import numpy as np

In [14]:
from sklearn import linear_model

In [40]:
local_death_data = mu.get_data_by_country('US', type='deaths')
daily_local_death_new = mu.get_daily_data(local_death_data)
daily_local_death_new.columns = ['death']
log_daily_death = np.log(daily_local_death_new)
data_start_date = min(local_death_data.index)
data_time_idx = (log_daily_death.index - data_start_date).days.values
log_daily_death['time_idx'] = data_time_idx
log_daily_death = log_daily_death.replace([np.inf, -np.inf], np.nan).dropna()

C:\Users\Quoc\anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log
  after removing the cwd from sys.path.

In [41]:
local_death_data.head()

               0
2020-02-29   1.0
2020-03-01   1.0
2020-03-02   6.0
2020-03-03   7.0
2020-03-04  11.0

In [42]:
break_points = np.array([0, 12, 60, 93])
robust_reg = linear_model.HuberRegressor(fit_intercept=True)

In [43]:
log_daily_death.query('time_idx<12&time_idx>3')

               death  time_idx
2020-03-04  1.386294         4
2020-03-05  0.000000         5
2020-03-06  0.693147         6
2020-03-07  1.098612         7
2020-03-08  1.386294         8
2020-03-09  0.000000         9
2020-03-10  1.791759        10
2020-03-11  2.079442        11

In [58]:
def remove_outliers(log_daily_death, break_points):
    ''' Remove outliers by running robust linear regression in each section'''
    robust_reg = linear_model.HuberRegressor(fit_intercept=True)
    outliers = np.array([],dtype=bool)
    for i in range(len(break_points)-1):
        data_train = log_daily_death.query('time_idx>={}&time_idx<{}'.format(break_points[i], break_points[i+1]))
        try:
            robust_reg.fit(data_train.time_idx.values.reshape(-1, 1), data_train.death)
            outliers_pw = robust_reg.outliers_
        except:
            outliers_pw = np.array([False] * len(data_train))
        outliers = np.concatenate((outliers, outliers_pw))
    #Last section
    data_train = log_daily_death.query('time_idx>={}'.format(break_points[-1]))
    try:
        robust_reg.fit(data_train.time_idx.values.reshape(-1, 1), data_train.death)
        outliers_pw = robust_reg.outliers_
    except:
        outliers_pw = np.array([False] * len(data_train))
    outliers = np.concatenate((outliers, outliers_pw))
    return log_daily_death[~outliers]

In [60]:
remove_outliers(log_daily_death,break_points)

               death  time_idx
2020-03-03  0.000000         3
2020-03-04  1.386294         4
2020-03-06  0.693147         6
2020-03-07  1.098612         7
2020-03-08  1.386294         8
...              ...       ...
2020-06-04  6.943122        96
2020-06-06  6.563856        98
2020-06-09  6.890609       101
2020-06-10  6.835185       102
2020-06-11  6.797940       103

[71 rows x 2 columns]

In [56]:
outliers = np.array([],dtype=bool)
for i in range(len(break_points)-1):
    print(break_points[i], break_points[i+1]-1)
    data_train = log_daily_death.query('time_idx>={}&time_idx<{}'.format(break_points[i], break_points[i+1]))
    print(data_train)
    try:
        robust_reg.fit(data_train.time_idx.values.reshape(-1, 1), data_train.death)
        outliers_pw = robust_reg.outliers_
    except:
        outliers_pw = np.array([False] * len(data_train))
    outliers = np.concatenate((outliers, outliers_pw))
data_train = log_daily_death.query('time_idx>={}'.format(break_points[-1]))
print(data_train)
try:
    robust_reg.fit(data_train.time_idx.values.reshape(-1, 1), data_train.death)
    outliers_pw = robust_reg.outliers_
except:
    outliers_pw = np.array([False] * len(data_train))
outliers = np.concatenate((outliers, outliers_pw))
len(outliers)

0 11
               death  time_idx
2020-03-02  1.609438         2
2020-03-03  0.000000         3
2020-03-04  1.386294         4
2020-03-05  0.000000         5
2020-03-06  0.693147         6
2020-03-07  1.098612         7
2020-03-08  1.386294         8
2020-03-09  0.000000         9
2020-03-10  1.791759        10
2020-03-11  2.079442        11
12 59
               death  time_idx
2020-03-12  1.791759        12
2020-03-13  2.079442        13
2020-03-14  2.302585        14
2020-03-15  2.639057        15
2020-03-16  3.258097        16
2020-03-17  3.526361        17
2020-03-18  3.433987        18
2020-03-19  4.543295        19
2020-03-20  4.510860        20
2020-03-21  4.521789        21
2020-03-22  4.976734        22
2020-03-23  5.293305        23
2020-03-24  5.416100        24
2020-03-25  5.733341        25
2020-03-26  6.006353        26
2020-03-27  6.297109        27
2020-03-28  6.163315        28
2020-03-29  6.516193        29
2020-03-30  6.654153        30
2020-03-31  7.065613        31
2020-04-01  7.042286        32
2020-04-02  7.263330        33
2020-04-03  7.186901        34
2020-04-04  7.383989        35
2020-04-05  7.316548        36
2020-04-06  7.325808        37
2020-04-07  7.739359        38
2020-04-08  7.639642        39
2020-04-09  7.609862        40
2020-04-10  7.634821        41
2020-04-11  7.605392        42
2020-04-12  7.450080        43
2020-04-13  7.486613        44
2020-04-14  7.779885        45
2020-04-15  7.823246        46
2020-04-16  7.642044        47
2020-04-17  7.857094        48
2020-04-18  7.760893        49
2020-04-19  7.064759        50
2020-04-20  7.462215        51
2020-04-21  7.783224        52
2020-04-22  7.751905        53
2020-04-23  7.745868        54
2020-04-24  7.478170        55
2020-04-25  7.724005        56
2020-04-26  7.026427        57
2020-04-27  7.198931        58
2020-04-28  7.666690        59
60 92
               death  time_idx
2020-04-29  7.867871        60
2020-04-30  7.615298        61
2020-05-01  7.574045        62
2020-05-02  7.262629        63
2020-05-03  7.180070        64
2020-05-04  7.122867        65
2020-05-05  7.669495        66
2020-05-06  7.779467        67
2020-05-07  7.699389        68
2020-05-08  7.325149        69
2020-05-09  7.387090        70
2020-05-10  6.594413        71
2020-05-11  7.052721        72
2020-05-12  7.422971        73
2020-05-13  7.474772        74
2020-05-14  7.483807        75
2020-05-15  7.397562        76
2020-05-16  7.109879        77
2020-05-17  6.694562        78
2020-05-18  6.665684        79
2020-05-19  7.361375        80
2020-05-20  7.325149        81
2020-05-21  7.141245        82
2020-05-22  7.151485        83
2020-05-23  7.010312        84
2020-05-24  6.450470        85
2020-05-25  6.214608        86
2020-05-26  6.541030        87
2020-05-27  7.316548        88
2020-05-28  7.089243        89
2020-05-29  7.084226        90
2020-05-30  6.874198        91
2020-05-31  6.405228        92
               death  time_idx
2020-06-01  6.643790        93
2020-06-02  6.938284        94
2020-06-03  6.888572        95
2020-06-04  6.943122        96
2020-06-05  7.057898        97
2020-06-06  6.563856        98
2020-06-07  6.093570        99
2020-06-08  6.214608       100
2020-06-09  6.890609       101
2020-06-10  6.835185       102
2020-06-11  6.797940       103

102

In [57]:
log_daily_death[~outliers]

               death  time_idx
2020-03-03  0.000000         3
2020-03-04  1.386294         4
2020-03-06  0.693147         6
2020-03-07  1.098612         7
2020-03-08  1.386294         8
...              ...       ...
2020-06-04  6.943122        96
2020-06-06  6.563856        98
2020-06-09  6.890609       101
2020-06-10  6.835185       102
2020-06-11  6.797940       103

[71 rows x 2 columns]

In [ ]:
mu.get_cumulative_predicted_death(local_death_data, forecast_horizon=60, lockdown_date='20200317')

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('logs/fitted_models.csv', header=None)

In [8]:
data.columns = ['dt', 'scope', 'local', 'params']

In [14]:
data.tail(60)

,dt,scope,local,params
306,2020-04-21 11:41:08.495599,Country,US,[-0.74691073 0.22789085 -0.19837405]
307,2020-04-21 11:45:24.318539,Country,US,[-0.74691073 0.22789085 -0.19837405]
308,2020-04-21 11:46:59.483013,Country,US,[-0.74691073 0.22789085 -0.19837405]
309,2020-04-21 11:48:18.484366,Country,US,[-0.74691073 0.22789085 -0.19837405]
310,2020-04-21 11:52:03.824622,Country,US,[-0.74691073 0.22789085 -0.19837405]
311,2020-04-21 11:55:41.277976,Country,US,[-0.74691073 0.22789085 -0.19837405]
312,2020-04-21 11:56:08.162725,Country,US,[-0.74691073 0.22789085 -0.19837405]
313,2020-04-21 11:56:40.469168,Country,US,[-0.74691073 0.22789085 -0.19837405]
314,2020-04-21 11:59:43.700774,Country,US,[-0.74691073 0.22789085 -0.19837405]
315,2020-04-21 12:03:53.492699,Country,US,[-0.74691073 0.22789085 -0.19837405]
316,2020-04-21 12:11:21.951720,Country,US,[-0.74691073 0.22789085 -0.19837405]
317,2020-04-21 12:14:47.112334,Country,US,[-0.74691073 0.22789085 -0.19837405]
318,2020-04-21 12:16:20.469974,Country,US,[-0.74691073 0.22789085 -0.19837405]
319,2020-04-21 12:18:41.778681,Country,US,[-0.74691073 0.22789085 -0.19837405]
320,2020-04-21 12:20:54.524969,Country,US,[-0.74691073 0.22789085 -0.19837405]
321,2020-04-21 12:28:47.067494,Country,US,[-0.74691073 0.22789085 -0.19837405]
322,2020-04-21 16:53:05.078131,Country,US,[-0.7628615 0.22880498 -0.21083662]
323,2020-04-21 16:54:12.349822,Country,US,[-0.7628615 0.22880498 -0.21083662]
324,2020-04-21 21:40:05.799802,State,Montana,[ 0.64847632 -0.10637372 0.2944964 ]
325,2020-04-21 22:05:40.710627,State,California,[-1.00877842 0.14626273 -0.12521814]
326,2020-04-21 22:07:12.576126,State,Ohio,[ 0.40310953 0.13506015 -0.12637946]
327,2020-04-21 23:21:48.506298,State,California,[-1.00877842 0.14626273 -0.12521814]
328,2020-04-22 01:43:48.123554,State,California,[-1.00877842 0.14626273 -0.12521814]
329,2020-04-22 01:59:31.022479,State,Georgia,[ 0.91675151 0.0769668 -0.3 ]
330,2020-04-22 02:02:48.101515,State,South Carolina,[-0.33219553 0.07534657 -0.3 ]
331,2020-04-22 02:04:36.765507,State,Tennessee,[ 0.1311115 0.07272166 -0.3 ]
332,2020-04-22 02:23:35.869075,Country,Spain,[-0.26261842 0.33335526 -0.35311055]
333,2020-04-22 02:25:12.411111,State,Wisconsin,[-0.63774194 0.14396776 -0.25500733]
334,2020-04-22 14:14:07.333615,Country,US,[-0.76307869 0.22881977 -0.21603758]
335,2020-04-22 14:14:55.569435,State,California,[-1.00877842 0.14626273 -0.12521814]
336,2020-04-22 15:53:33.887053,State,New York,[ 1.56534527 0.20699892 -0.27324097]
337,2020-04-22 16:29:55.580879,State,California,[-1.00877842 0.14626273 -0.12521814]
338,2020-04-22 16:31:04.810093,State,New York,[ 1.56534527 0.20699892 -0.27324097]
339,2020-04-22 16:34:23.857714,Country,US,[-0.76307869 0.22881977 -0.21603758]
340,2020-04-22 16:35:01.659724,Country,Italy,[-0.07503744 0.25092629 -0.26607191]
341,2020-04-22 16:35:45.484581,Country,Spain,[-0.26261842 0.33335526 -0.35311055]
342,2020-04-22 16:36:37.886356,Country,France,[-3.68636572 0.22162315 -0.27806491]
343,2020-04-22 16:37:23.239743,Country,United Kingdom,[-0.73755378 0.24074753 -0.33907209]
344,2020-04-22 16:39:25.125107,Country,Belgium,[-0.052277 0.23010196 -0.25345485]
345,2020-04-22 16:39:40.780243,Country,Iran,[ 0.06207706 0.18327124 -0.19418912]
346,2020-04-22 16:40:03.598260,Country,Germany,[ 0.39431195 0.17375337 -0.26495284]
347,2020-04-22 16:41:07.220894,Country,China,[ 1.92089891 0.16224054 -0.2391631 ]
348,2020-04-22 16:41:22.595725,Country,Netherlands,[-0.47272127 0.21590271 -0.28051453]
349,2020-04-22 16:41:57.010161,State,California,[-1.00877842 0.14626273 -0.12521814]
350,2020-04-22 16:42:08.151984,State,Washington,[ 0.41802351 0.075295 -0.17072233]
351,2020-04-22 16:43:35.243270,State,New York,[ 1.56534527 0.20699892 -0.27324097]
352,2020-04-22 16:43:47.308839,State,New Jersey,[-1.31024124 0.23847987 -0.27571554]
353,2020-04-22 16:44:08.731875,State,Massachusetts,[ 0.59993807 0.17692539 -0.12654463]
354,2020-04-22 16:44:45.950697,State,Connecticut,[-0.16738443 0.18176598 -0.14717204]
355,2020-04-22 16:53:31.306209,State,Pennsylvania,[ 0.40363374 0.14301316 -0.3 ]
356,2020-04-22 16:53:47.560567,State,Illinois,[-0.26961072 0.2038412 -0.21978789]
357,2020-04-22 16:54:47.414231,State,Michigan,[ 1.45926512 0.15084209 -0.2238073 ]
358,2020-04-22 16:54:59.775226,State,Louisiana,[ 0.45941067 0.14824444 -0.24406953]
359,2020-04-22 16:55:17.025664,State,Florida,[-0.84720733 0.12857142 -0.3 ]
360,2020-04-22 16:55:32.030454,State,Georgia,[ 0.91675151 0.0769668 -0.3 ]
361,2020-04-22 16:56:21.562061,State,Texas,[ 0.36489029 0.10543651 -0.3 ]
362,2020-04-22 16:56:40.628571,State,Maryland,[-0.86693418 0.17450598 -0.3 ]
363,2020-04-22 16:57:00.561943,State,Ohio,[ 0.40310953 0.13506015 -0.12637946]
364,2020-04-22 20:52:44.362644,Country,Sweden,[-0.04587321 0.13552674 -0.3 ]
365,2020-04-22 21:18:56.700943,State,California,[-1.00877842 0.14626273 -0.12521814]

In [18]:
len(data.params[0])

37

In [24]:
data.params[0][1:36].split(' ')

['-0.47877307', '', '0.22554814', '-0.24821284']

In [27]:
eval(data.params[0][25:36])

-0.24821284

In [37]:
data.params.apply(lambda x: x[25:36]).astype(float)

ValueError: could not convert string to float: '        ]'

In [ ]:
data.params.apply(lambda x: x[25:36]).astype

In [ ]:
data.params.apply(lambda x: x[25:36]).astype

In [32]:
data.head(20)

,dt,scope,local,params
0,2020-04-14 15:24:03.087423,Country,US,[-0.47877307 0.22554814 -0.24821284]
1,2020-04-14 15:24:19.681201,State,California,[-0.57772623 0.13889107 -0.26399057]
2,2020-04-14 15:25:02.143226,State,Washington,[ 0.59323822 0.06917945 -1.17005941]
3,2020-04-14 15:25:15.592145,State,Washington,[ 0.59323822 0.06917945 -1.17005941]
4,2020-04-14 15:25:41.659834,State,New York,[ 2.07115577 0.20522476 -0.69599522]
5,2020-04-14 16:09:48.265701,State,Florida,[-0.79350822 0.13816607 0. ]
6,2020-04-14 16:26:51.216209,State,New Jersey,[-0.86745437 0.22828028 -0.54454653]
7,2020-04-14 16:28:35.042487,State,Michigan,[1.4126235 0.15679606 0. ]
8,2020-04-14 16:29:55.123932,State,Michigan,[ 1.32781308 0.16434707 -0.88261295]
9,2020-04-14 16:30:17.876613,State,Michigan,[ 1.19293745 0.17711308 -0.53344374]
10,2020-04-14 16:31:29.589828,State,Michigan,[ 1.32781308 0.16434707 -0.88261295]
11,2020-04-14 16:31:40.534853,State,Michigan,[1.4126235 0.15679606 0. ]
12,2020-04-14 16:32:45.258899,State,Louisiana,[ 0.74241517 0.14482708 -1.41603989]
13,2020-04-14 16:42:16.752008,State,Massachusetts,[0.99364514 0.15932742 0. ]
14,2020-04-14 16:42:43.392354,State,Illinois,[0.32143409 0.1753654 0. ]
15,2020-04-14 16:46:54.905986,State,Connecticut,[ 0.03755497 0.18101413 -0.46856364]
16,2020-04-14 16:52:33.538741,State,Pennsylvania,[-0.2961341 0.19851518 0. ]
17,2020-04-14 16:55:52.347209,State,Florida,[-0.79350822 0.13816607 0. ]
18,2020-04-14 16:59:22.007331,State,Louisiana,[ 0.74241517 0.14482708 -1.41603989]
19,2020-04-14 17:00:45.236296,State,California,[-0.57772623 0.13889107 -0.26399057]